<mz-card
  class="grey lighten-5 black-text chat-container"
  [hoverable]="true">

  <mz-card-title class="chat-header">
    Clank the Healthcare assistant
  </mz-card-title>

  <mz-card-content class="chat-body">
    -dfadsfa
    -fadfaffasdfa-a
    afafdadfaf
    adfafaffdas
  </mz-card-content>

  <mz-card-action>
    <input mz-input
    [label]="'Email'"
    id="msg"
    length="150"
    placeholder="Message..."
    type="text">
    <button [float]="true" mz-button>
      button
    </button>
  </mz-card-action>
</mz-card>