.chat-container {
    width: 30%;
<<<<<<< HEAD
    margin:auto;
    font-size: 1em;
}

.card-header {
    background-color: #474747;
    color:white;
}

.content {
    height: 20em;
    max-height: 20em;
    overflow-y: scroll; 
}

.description {
    font-size: .9em;
    padding: 0;
=======
    height: 30em;
    padding: 0em;
}

.chat-header {
    margin:0;
    width: 100%;
}

h4 {
    padding: 0;
    margin: 0;
    font-size: 1em;
>>>>>>> origin/master
}