<div class="chat-container card">
  <div class="card-header">
    <div class="row">
      <div class="col-3">
          <img width="60" src="assets/bot.jpeg" alt="">
      </div>
      <div class="col-9">
          <h3>  Clank</h3>
          <div class="description text-muted">The intelligent healthcare assistant</div>
      </div>
    </div>
  </div>
  <div class="card-body content">
    <app-message *ngFor="let m of messages" [bot]="m.bot" content="{{ m.content }}"></app-message>
  </div>
  <div class="card-footer text-muted">
    <div class="row">
      <div class="col-9">
        <input [(ngModel)]="message" placeholder="Message" class="form-control" id="msg">
      </div>
      <div class="col-3">
        <button class="btn btn-outline btn-info mb-2" (click)="sendMessageToClank()">Send</button>
      </div>
    </div>
  </div>
</div>