<div class="header">
  <div id="wrapper">
    <div id="bg"></div>
    <div id="overlay"></div>
    <div id="main">

        <header id="header">
          <h1 class="tittle">AI NEED A DOCTOR</h1>
          <p class="tittle">If you feel stressed, talk to me. — I'm an AI that will recommend you to see a doctor if you need it.</p>
          <p></p>
          <br/>
          <app-chat></app-chat>
        </header>
    </div>
  </div>
  <script>
    window.onload = function() { document.body.classList.remove('is-preload'); }
    window.ontouchmove = function() { return false; }
    window.onorientationchange = function() { document.body.scrollTop = 0; }
  </script>
</div>


