
<!--
<div class="header">
  <div id="wrapper">
    <div id="bg"></div>
    <div id="overlay"></div>
    <div id="main">

        <header id="header">
          <h1>AI NEED A DOCTOR</h1>
          <p>If you feel stressed, talk to me. — I'm an AI that will recommend you to go to a psychologist if it was needed.</p>
          <p></p>
          <app-chat></app-chat>
        </header>

        <footer id="footer">
            <header id="header"><span>Made with love. ~ <font color="red">❤</font></span></header>
        </footer>

    </div>
  </div>
  <script>
    window.onload = function() { document.body.classList.remove('is-preload'); }
    window.ontouchmove = function() { return false; }
    window.onorientationchange = function() { document.body.scrollTop = 0; }
  </script>
</div>

-->
<app-chat></app-chat>